.Banner{
    height: 50px;
    position: absolute;  
    width: -webkit-fill-available;
    text-align: center;
    font-weight: 900;
}
.Banner h2{
    margin: 0 !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    -webkit-text-stroke-width: thin;
}
