
.circle {
    stroke: #ffffff;
    stroke-dasharray: 650;
    stroke-dashoffset: 650;
    -webkit-transition: all 0.5s ease-in-out;
    opacity: 0.3;
  }
  .AmongBtn{
    left: 60%; 
    top: 10%;
  }
  .LixBtn{
    left: 60%; 
    top: 10%;
  }
  .PetBtn{
    left: 25%; 
    top: 25%;
  }
  .playBut {
  
    display: inline-block;
    -webkit-transition: all 0.5s ease;
    position: absolute;
    z-index: 10;   
    background: rgba(0, 0, 0, 0.514);
    border-radius: 50%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: solid rgb(255, 255, 255);
    backdrop-filter: blur(4px);
    cursor: pointer;
  }
  .playBut .triangle {
    -webkit-transition: all 0.7s ease-in-out;
    stroke-dasharray: 240;
    stroke-dashoffset: 480;
    stroke: rgb(255, 255, 255);
    transform: translateY(0);
  }
  .playBut:hover .triangle {
    stroke-dashoffset: 0;
    opacity: 1;
    stroke: #ffffff;
    animation: nudge 0.7s ease-in-out;
  }
  .playBut:hover{
    border: solid transparent;
  }
  @keyframes nudge {
    0% {
      transform: translateX(0);
    }
    30% {
      transform: translateX(-5px);
    }
    50% {
      transform: translateX(5px);
    }
    70% {
      transform: translateX(-2px);
    }
    100% {
      transform: translateX(0);
    }
  }
  .playBut:hover .circle {
    stroke-dashoffset: 0;
    opacity: 1;
  }

  @media (max-width: 500px){
    .AmongBtn{
      left: 40%; 
      top: 8%;
    }
    .LixBtn{
      left: 40%; 
      top: 8%;
    }
    .PetBtn{
      left: 25%; 
      top: 25%;
    }
  }