.box{
    will-change: heigth;
    background: #f6f6f6;
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; 
}
.box.boxanim{
    -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
    height: 55px !important;
}
.box.boxanimreverse{
    -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  height: 0 !important;
}
.downloadbar{
    transition: 2s;
    animation-timing-function: linear;
    width: 100% !important;
}
.reversedownload{
    transition: 0s;
    animation-timing-function: linear;
    width: 0% !important; 
}
.boxbefore{
    height: 70px;
    position: relative;
    padding: 5px;
    background: linear-gradient(145deg,#76D4F8 0%, #4178F0 100%);
    border-bottom-left-radius: 15px;
    text-align: center;
    height: 40px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 1s;
}
.boxbefore:hover {
    -webkit-background-clip: text;
    -webkit-text-fill-color: white;
    background:  linear-gradient(145deg,#76D4F8 0%, #4178F0 100%);    
}
.boxbefore::after{
    content:'';
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    mix-blend-mode: luminosity;
    border-bottom-left-radius: 15px;
    opacity: 0.25;
}
a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none !important;
    width: inherit;
    font-weight: bold !important;
    border-bottom-style: inset;
    border-bottom-color: rgb(196, 196, 196);
}
.box::after{
    content: '';
    background: linear-gradient(125deg, rgba(255,255,255,0.5) 0%, rgba(0,0,0,0.5) 100%);
    position: absolute;
    width: 100%;
    height: 100%;
    mix-blend-mode: hard-light;
    pointer-events: none;
    opacity: 0.5;
    left: 0px;
}
.icon{
    width: 50px;
    height: 33px;
    display: inline-block;  
    margin: 10px 0 10px 10px;
    position: relative;
    top: -6px;
}
.open{
    background-image: url('../images/download.svg');
    background-repeat: no-repeat; 
    background-size: 50%;
}
.download{
    background-image: url('../images/download_before.svg');
    background-repeat: no-repeat; 
    background-size: 50%;
}
.icon p{
    font-weight: bold;
    color: rgb(37, 37, 37) !important;
    position: absolute;
    top: 33px;
    left: -7px;
}
.maps{
    background-image: url('../images/maps.svg');
    width: 20px;
    background-repeat: no-repeat;
    height: 20px;
    position: absolute;
    margin-left: 20px;
}
.content{
    display: inline-block;
    vertical-align: top;
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 10px;
    width: -webkit-fill-available;
}
.content > p{display: inline-block;}
.content > p:nth-child(2)
{
    color: rgb(99, 99, 99);
    font-weight: bold;
    float: right;
}
.progressbar
{
    width: 100%;
    height: 5px;
    background-color: rgb(209, 209, 209);
    margin-top: -7px;
}
.progressbar >div{
    width: 50%;
    height: 5px;
    background-image: linear-gradient(145deg,#76D4F8 0%, #4178F0 100%);;
}
@media (max-width: 767px){
    .boxbefore ,.boxbefore::after {
        border-bottom-left-radius: 0;
    }
    a.button{
        border-bottom-style: none;
    }
}
