@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
body{
    background-color: #e0e0e0 !important;
}
.scroll-up-btn{
    position: fixed;
    background-color: #141414;
    color: black;
    padding: 0.5em 0.8em;
    border-radius: 50%;
    right: 3%;
    bottom: 3%;
    z-index: 999;
    pointer-events: none;
    cursor: pointer;
    opacity: 0;
    mix-blend-mode: difference;
    transition: 0.3s ease;
    backdrop-filter: invert(1);
}
.scroll-up-btn >i::before{
    content: "\f077";
    filter: invert(1);
}
.scroll-up-btn.show{
    opacity: 1;
    pointer-events: auto;
}
                                    /* home */
.home{   
    height: 100vh;
    width: 100%;
    overflow: hidden;
    margin-left: auto;
    position: sticky;  
}
/*.home::before{
    content: '';
    background-image:  url('../images/bg.png');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-position-x: initial;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    z-index: -3;
    position: absolute;
    filter: blur(0.5px);
}*/
.homeimg{
  /*  background-image:  url('../images/bg.png');*/
    width: 100%;
    height: 100%;
    background-color: #e0e0e0 !important;
  /*  filter: blur(0.5px);*/

  
}
/*
.home::after{
    content: '';
    background-image: linear-gradient(135deg,rgb(0 14 35 / 70%), rgb(27 0 9 / 80%));
    background-position: center;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
   
    mix-blend-mode: color;
    pointer-events: none;
}*/
.home .custom-shape-divider-bottom-1610607306 .shape-fill {
    fill: transparent;
}
@media(min-width:480px){
    .home .custom-shape-divider-bottom-1610607306 {
        position: absolute;
        bottom: -20px;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        transform: rotate(180deg);
    }
    .home::before{
        content: '';
        height: 98%;
    }
    
    .home .custom-shape-divider-bottom-1610607306 svg {
        position: relative;
        display: block;
        width: calc(100% + 1.3px);
        height: 150px;
    }
    
    .home .custom-shape-divider-bottom-1610607306 .shape-fill {
        fill: #e0e0e0;
    }
}

                                        /* navbar */
.home .navbar-dark{
    background-color: #141414f7;
    backdrop-filter: blur(2px);
}

.home .navbar-nav{
    text-align: center;
}
.home .navbar-brand{
    letter-spacing: 2px;
    color: white !important;
}

.home .nav-link{
    color: white !important;
    transition: 0.3s ease;
    font-weight: 600;
}
.home .nav-link:hover{
 /*   color: black !important;*/
}
                                        /* home text */
.home .home-text{
    color: #343a40;
}
.Card{
    /*will-change: text-shadow;*/
    padding: 20px;
    border-radius: 10px;
    z-index: 1;
   /* background: linear-gradient(94.23deg,#5374fa 12.41%,#fd9179 52.55%,#ff6969 89.95%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;*/
    text-shadow: white;
    transition: 1s;
}
.chromatic-aberration {
    -webkit-filter: url(#kill);
    
}
.chromatic-aberration-no-anim{
    -webkit-filter: url(#kill);
}
.scale{
    transform: scale(1.05);
}

.home .home-text h6{
    font-size: 1.2em;
    font-weight: 500;
}
.home .home-text h1{
    font-size: 3.5em;
    font-weight: 700;
    letter-spacing: 3px;
}
.home .home-text p{
    font-size: 1.5em;
    font-weight: 500;
}
.home .home-text .btn{
    background-image: linear-gradient(130deg, #63dfff 0, #1ec8f3 50%, #00b1e3 100%);
    color: white !important;
    border: black !important;
    width: 120px;
    font-weight: 600;
    transition: 0.3s ease;
    cursor: pointer !important;
}
.home .home-text .btn:hover{
    background-image: linear-gradient(135deg, #455dca 0%, #6a32a1 100%);
    border-color: linear-gradient(135deg, #283c99 0%, #4c2077 100%);
}
.glassobj{
    width: 50px;
    height: 50px;
    position: relative;
    z-index: 8;
    cursor: pointer;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background: linear-gradient(145deg, #f0f0f0, #cacaca);
    margin: 0 1rem 0 6rem;
    
    background: linear-gradient( 145deg ,#76D4F8 0%, #4178F0 100%);
    text-align: center;

}
.glassobj p{
    font-size: initial;
    font-weight: bold;
    margin-bottom: 0 !important;
    padding-top: 5px;
}
.glassobj a{
    width: auto;
    color: white !important;
    text-decoration: none !important;
}
.footermain{
    width: -webkit-fill-available;
    height: 40vh;
    background-color: rgba(255, 255, 255 ,0.25);

    position: absolute;
    bottom: 0;
    box-shadow: inset 6px 6px 10px 0 rgb(0 0 0 / 20%), inset -6px -6px 10px 0 rgb(255 255 255 / 50%);
    -webkit-text-stroke-width: thin;
    margin: 0 1rem 1rem 6rem;
    border-radius: 1rem;
}
.footermain::after{
    content: '';
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    position: inherit;
    top: 0;
    border-radius: 1rem;
    pointer-events: none;
    mix-blend-mode: screen;
    opacity: 0.3;
    background: linear-gradient(150deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 15%, rgba(0,0,0,0.29735644257703087) 100%);
}
.responsiveGrid{
    width: auto;
}
@media(min-width:850px){
    .responsiveGrid{
        width: 800px;
    }
    .footermain{
        width: 690px;
    }
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: 55px;
    padding-left: .5rem!important;
    margin-top: 10px;
    margin-bottom: -20px;
}
/* home img */
                                 /* responsive media query */
                                
@media(min-width:767px){ 
    .home .navbar-dark{
        transition: 0.5s ease;
    }
    .home .nav-link:hover{
    /*color: black !important;*/
    }
    .home img{
        display: none;
    }
    .about{
        padding-top: 5em;
    }
}
                                            /* about */
.about{
    
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.about .title{
    text-align: center;
    position: relative;
    margin-bottom: 20px;
}

.about .title h1{
    font-size: 3.4em;
    font-weight: bolder;
    background: linear-gradient(145deg,#76D4F8 0%, #4178F0 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
    font-family: system-ui;

}
.aboutCard{
    opacity: 0;
    margin-right: 15% !important;
    width: 80%;
    margin-left: auto !important;
    opacity: 1;
}
                                            /* about row */
.photo{
    overflow: hidden;
    align-items: center;
    box-shadow: rgb(255, 255, 255) 0px -2px 8px 0px ,rgba(99, 99, 99, 0.5) 0px 0px 8px -4px !important;
    border-top-left-radius: 10px !important;
    border-top-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border: none !important;
}
@media (max-width: 767px){
    .photo {
        border-top-left-radius: 10px !important;
        border-top-right-radius: 10px !important;
        border-bottom-left-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
    }
    .aboutCard{
        margin-left: auto !important;
        margin-right: auto !important;
    }    
}

.about .row .description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    background-color: #e2e2e2;
}
.about .row .description h4{
    font-weight: 600;
}
.about .row .description a,#ic{
    width: 20px;
    height: 20px;
}
.about .row .btn{
    background-image: linear-gradient(130deg, #63dfff 0, #1ec8f3 50%, #00b1e3 100%);
    color: white !important;
    width: 122px;
    font-weight: 600;
    transition: 0.3s ease;
}
.about .row .btn:hover
{
    background-image: linear-gradient(130deg, #63fff2 0, #1ef3b3 50%, #00e397 100%);
}
.description
{
    box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2), inset -6px -6px 10px 0 rgba(255, 255, 255, 0.5); 
    -webkit-text-stroke-width: thin; 
    padding-right: 0;
}
.myimg{
    padding-right: 0 !important;
}
.photo::after{
    content: '';
    background: linear-gradient(135deg, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 100%);
    position: absolute;
    width: 100%;
    mix-blend-mode: hard-light;
    opacity: 0.8;
    height: 100%;
}
                             /* responsive media query */
@media(max-width:767px)
{
    .about .row .myimg{
        padding: 0% 0%;
        margin: auto;
    }
    .about .row .description{
        padding : 5%;
        margin: auto;
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
        border-top-left-radius: 0 !important;
        border-top-right-radius: 0 !important;
        border-bottom-left-radius: 10px !important;
        border-bottom-right-radius: 10px !important;
    }
}

                                   /* services */
.services{
    background-color: #141414;
    min-height: 100vh;
    width: 100%;
    margin-top: 3em;
    padding: 5em 0;
    display: flex;
    flex-direction: column;
    clip-path: ellipse(178vw 100% at 62% 100%);
}   
.services .title{
    text-align: center;
    position: relative;
    margin-bottom: 3em;
}

.services .title h2{
    font-weight: 600;
    background: -webkit-linear-gradient(-70deg, #ff7170 0%, #ffe57f 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
    font-size: 4rem !important;
    font-family: 'Elegancy';
}                          
.Subtitle{
    text-align: justify;
    margin: 55px;
    font-size: calc(20px + 6 * ((100vw - 320px) / 680)) !important;
}
.Logo a{
    font-variant: small-caps;
} 
.Logo a:not(span)
{
    font-weight: bold;
}
.Logo .kangi{
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    color: black !important;
    padding: 3px;
    border-radius: 4px;
    margin-right: 5px;
}                                           /* skills */                                           
.skills{
    min-height: 100vh;   
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
}
.skills > div{
    padding: 1em 0 2em 0;
    margin: 0;
    padding-left: 15px;
    padding-right: 15px;
}
.skills .panel
{
    position: relative;
    padding: 1rem;
    background-color: #f0f8ff36;
    border-radius: 10px;
    margin:auto;
    box-shadow: inset 6px 6px 10px 0 rgb(0 0 0 / 20%), inset -6px -6px 10px 0 rgb(255 255 255 / 50%);
    width: -webkit-fill-available;
}


@media(max-width:466px)
{
    .skills .panel { width: 100%; }
}
.skills .Grid{
  display: grid;
  gap: 5px 5px;
  margin: auto;
  margin-top: 18px;
  margin-bottom: 18px;
  padding-top: 5px;
  padding-bottom: 10px;
  grid-auto-flow: column;
  overflow-y:hidden;
  overflow-x: scroll;
  max-width: 100%;
  -webkit-mask-image: linear-gradient(90deg, rgba(0,0,0,1) 95%, rgba(255,255,255,0) 100%);
}

.Grid::-webkit-scrollbar, #NameCompany_List::-webkit-scrollbar{
    width: 10px;
    height: 10px;
    
  }
  .Grid::-webkit-scrollbar-thumb, #NameCompany_List::-webkit-scrollbar-thumb {
    background: linear-gradient(117deg, rgb(41, 41, 41) 0%, rgb(32, 32, 32) 100%);
    border-radius: 10px;
  }
  .Grid::-webkit-scrollbar-track, #NameCompany_List::-webkit-scrollbar-track{
    background: rgb(189, 189, 189);
    border-radius: 10px;
    box-shadow: inset 6px 6px 10px 0 rgb(0 0 0 / 20%), inset -6px -6px 10px 0 rgb(255 255 255 / 50%);
}
#NameCompany_List{
    box-shadow: 6px 6px 15px rgb(0 0 0 / 50%), -6px -6px 15px rgb(255 0 0 / 0%);
}
  .row h3{
      display: block;
      margin: auto;   
      font-weight: 600;
      font-variant: petite-caps;
      /*font-family: "Elegancy";*/
  }
@media(max-width: 636px)
{
     /*.skills .Grid{
        max-width: 100%;                   
     }*/
}
.Language{
    width: fit-content;
    border-radius: 10px;
    background-color: rgb(255 255 255 / 14%);
    transform-style: preserve-3d;
    border-top: 1px solid rgba(255,255,255,0.5);
    border-left: 1px solid rgba(255,255,255,0.5);
    box-shadow: 3px 3px 11px -3px rgba(0,0,0,0.5);
    cursor: pointer;
}
.Language > div{
    padding: 1rem;
    border-radius: 10px;
    transform: translateZ(6px);
    transform-style: preserve-3d;
}
.Framework{
    width: fit-content;
    border-radius: 10px;
    background-color: rgb(255 255 255 / 14%);
    transform-style: preserve-3d;
    border-top: 1px solid rgba(255,255,255,0.5);
    border-left: 1px solid rgba(255,255,255,0.5);
    box-shadow: 3px 3px 11px -3px rgba(0,0,0,0.5);
    cursor: pointer;
}
.Framework > div{
    padding: 1rem;
    border-radius: 10px;
    transform: translateZ(6px);
    transform-style: preserve-3d;
}
.CardHome{
    border-top-right-radius: 10px;

    font-size: smaller;
    background: rgba(255, 255, 255 ,0.25);
    border: 1px solid rgba(255, 255, 255 ,0.18);
}
.CardHome > div{
    padding: 1rem;
    border-radius: 10px;
}
.CardHome:hover{
    cursor: pointer;
}
.skills svg{
    width:3rem;
    transform: translateZ(30px);
    transform-style: preserve-3d;
    pointer-events: none;
}

.skills .title{
    text-align: center;
    position: relative;
}

.skills .title h2{
    font-size: 2.4em;
    font-weight: 600;
    font-size: 3.4em;
    font-weight: bolder;
    background: linear-gradient(145deg,#76D4F8 0%, #4178F0 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
    font-family: system-ui;
}

                                    /* skills row text*/
.skills .row h2{
    font-weight: 600;
    font-size: 1.7em;
    letter-spacing: -1px;
}
.skills .row p{
    color: black;
    font-weight: 500;
}
                            /* skills row bar  */
.skills .progress{
    margin-bottom: 1%;
    height: 10px;
}
.skills .html .progress .pregress-bar{
    background-image: linear-gradient(135deg, #5d74db 0%, #8853bd 100%) !important;
    width: 75%;
}
.skills .css .progress .pregress-bar{
    background-image: linear-gradient(135deg, #5d74db 0%, #8853bd 100%) !important;
    width: 70%;
}
.skills .bootstrap .progress .pregress-bar{
    background-image: linear-gradient(135deg, #5d74db 0%, #8853bd 100%) !important;
    width: 65%;
}
.skills .csharp .progress .pregress-bar{
    background-image: linear-gradient(135deg, #5d74db 0%, #8853bd 100%) !important;
    width: 55%;
}
.skills .cpp .progress .pregress-bar{
    background-image: linear-gradient(135deg, #5d74db 0%, #8853bd 100%) !important;
    width: 50%;
}

                         /* responsive mdia queries */
@media(max-width:992px)
{
    .skills .row .text{
        padding-bottom: 2em;
    }   
}
                                      /* contact */
.contact{
    background-color: #141414;
    color: white;
    min-height: 100vh;
    width: 100%;
    padding-top: 5em;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.contact .title{
    text-align: center;
    position: relative;
    margin-left: 34px;
}

.contact .title h2{
    font-size: 2.2em;
    font-weight: 600;
    font-size: 3.4em;
    font-weight: bolder;
    background: -webkit-linear-gradient(  -70deg , #ff7170 0%, #ffe57f 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
    font-family: system-ui;
}
                     
                                /* contact row left column */
.contact .row .left-column .text{
    margin-bottom: 2em;
    font-size: 0.9em;
}
.contact .row .left-column .list-group-item{
    background-color: rgb(59, 56, 56) !important;
    color: white;
    display: flex;
    text-decoration: none;
    transition: 0.3s ease;
    margin-bottom: 0.3em;
}
.contact .row .left-column .list-group-item:hover{
    background: -webkit-linear-gradient( -70deg , #ff7170 0%, #ffe57f 100%); 
    color: white;
}
.contact .row .left-column .list-group-item span i{
    padding-right: 1em;
    font-size: 1.4em;
}
                                /* contact row right column */

.contact .row .right-column .card{
    background-color: rgb(59, 56, 56) !important;
}
.contact .row .btn{
    background-image: linear-gradient(130deg, #63dfff 0, #1ec8f3 50%, #00b1e3 100%);
    color: white !important;
    border: none;
    font-weight: 600;
    transition: 0.3s ease;
}
.contact .row .btn:hover{
    background-image: linear-gradient(130deg, #63fff2 0, #1ef3b3 50%, #00e397 100%);
}
                        /* responsive media query */
@media(max-width:992px){
    .contact .row .left-column{
        margin-bottom: 2em;
    }
    .skills .Grid{
        max-width: 100%;                   
     }
}
@media(max-width:400px){
    .contact .row .left-column .list-group-item{
        font-size: 3vw;
    }
}
                                                    /* footer */

.footer{
    width: 100%;
    background: -webkit-linear-gradient( -70deg  , #ff7170 0%, #ffe57f 100%);
    height: 5px;
}


/*
    PROJECTS DIVISION
*/

.main-content {
    margin-right: 2rem;
    margin-left: 6rem;
    margin-top: 0;
   /* overflow:hidden;*/
      position: relative;
      background: #e0e0e0;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-flow: column;
      border-radius: 10px;
      height: 380px;
      cursor: initial;
  }
 /* .main-content:hover{
    cursor: url("../images/cat/measure.svg ") 16 16 ,auto;
  }*/

  @media(max-width:670px){
    .main-content {
        margin-top: 50px;
    }
}
  .vignette{
    position:absolute;
    width:100%; height:100%;
    box-shadow:inset 0px 0px 150px 20px black;
    mix-blend-mode: soft-light;
    -webkit-animation: vignette-anim 3s infinite; /* Safari 4+ */
    -moz-animation:    vignette-anim 3s infinite; /* Fx 5+ */
    -o-animation:      vignette-anim 3s infinite; /* Opera 12+ */
    animation:         vignette-anim 3s infinite; /* IE 10+, Fx 29+ */
  }
  
  .noise {
      z-index: 15;
      position: absolute;
      top: 0;
      left: 0;
      
      width: 100%;
      height: 100%;
      
      pointer-events: none;
      opacity: .12;
  }
  
  .line{
    position:absolute;
    height:100%; width:1px;
    opacity:0.1;
    background-color:#000;
  }
  
  .titleCont{position:relative;}
  
  .main-title {
      padding: .3em 1em .25em;
      width: 100%;
      height: 100%;    
      font-weight: 400;
      font-size: 40px;
      color: white;
      font-family: 'Bellefair', serif;
      position:relative;
      line-height:1.3;
  }
  
  
  @-webkit-keyframes vignette-anim {
    0%   , 100%{ opacity: 1; }
    50% { opacity: 0.7; }
  }
  @-moz-keyframes vignette-anim {
    0%   , 100%{ opacity: 1; }
    50% { opacity: 0.7; }
  }
  @-o-keyframes vignette-anim {
    0%   , 100%{ opacity: 1; }
    50% { opacity: 0.7; }
  }
  @keyframes vignette-anim {
    0%   , 100%{ opacity: 1; }
    50% { opacity: 0.7; }
  }

  /*WAVES*/
  .waves {
    z-index: 16;
    position:relative;
    width: 100%;
    height:15vh;
    margin-bottom:-7px; /*Fix for safari gap*/
    min-height:100px;
    max-height:150px;
  }
  .parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
  }
  .parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
  }
  .parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
  }
  .parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
  }
  .parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
  }
  @keyframes move-forever {
    0% {
     transform: translate3d(-90px,0,0);
    }
    100% { 
      transform: translate3d(85px,0,0);
    }
  }